{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <form action="result" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="number1">Number 1:</label>
            <input type="number" class="form-control" id="number1" name="number1" required>
        </div>

        <div class="form-group">
            <label for="number2">Number 2:</label>
            <input type="number" class="form-control" id="number2" name="number2" required>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}